<div class="container">
  <h1>Conversation between <%= @conversation.sender.name %> and <%= @conversation.recipient.name %></h1>

  <% if @over_five %>
    <%= link_to "Previous messages", '?m=all', class:'btn btn-secondary btn-sm' %>
  <% end %>

  <section id="messages" class="mb-4">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find_by_id(message.user_id) %>
          <article class="message">
            <div class="message-body"> 
              <%= gravatar_for user, size: 32, class: "gravatar-img nudge-down-10 pr-2" %>
              <strong><%= user.name %></strong> <%= message.message_time %>
            <div class="block pt-4">
              <div><%= sanitize markdown_to_html(message.body) %></div>
            </div>
          </div>
        </article>
      <% end %>
    <% end %>
  </section>

  <%= form_for [@conversation, @message] do |f| %>
    <%= f.text_area :body, class: "textarea", placeholder: "Inquire about an item..." %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div class="send">
      <%= f.submit "Send message", class: "btn btn-message" %>
    </div>
  <% end %>
</div>