<h1><%= @shop.name %></h1> 

<p>
    Shop owner: <%= @owner.name || @owner.email %>
</p>

<div class="full-width">
  <% if @shop.featured_image.present? %>
        <%= image_tag @shop.featured_image, class: "img featured-img" %>
  <% end %>
  </div><!--END featured image -->

  <div class="description">
    <% if @shop.description.present? %>
      <%= @shop.description %>
    <% end %>
  </div><!-- END description -->

<!-- items listing will go here -->
  <%= render 'items/listings', items: @shop.items, shop: @shop %>

<!-- Shop Settings -->
 <% if admin? || owner_of(@shop) %>
    <div class="shop-settings">
      <%= link_to 'Edit', edit_shop_path(@shop), class: "button" %>
      <%= link_to 'Delete', shop_path(@shop), method: :delete, class: "button", data: { confirm: "Are you sure?" } %>
    </div>
<% end %>