<div class="container">
  <h1><%= @shop.name %></h1> 

  <!--Shop Details -->
  <div class="details">
      Shop owner: <%= @owner.name || @owner.email %>
      <div class="description">
        <% if @shop.description.present? %>
          <%= @shop.description %>
        <% end %>
      </div>
  </div><!-- END shop details -->

    <!-- Shop Settings -->
  <div class="settings right">
    <% if admin? || owner_of(@shop) %>
        <div class="shop-settings">
          <%= link_to 'Edit Shop', edit_shop_path(@shop), class: "btn" %>
          <%= link_to 'Delete Shop', shop_path(@shop), method: :delete, class: "btn", data: { confirm: "Are you sure?" } %>
        </div>
    <% end %>
  </div><!-- END Shop Settings -->

  <!-- Featured Image
  <div class="full-width">
    <% if @shop.featured_image.present? %>
          <%= image_tag @shop.featured_image, class: "img featured-img" %>
    <% end %>
    </div>-->
  <hr>

  <!-- Add new item to shop -->
  <% if admin? || owner_of(@shop) %>
    <h2>Add a new item to <%= @shop.name %></h2>
    <div class="max-width-md">
      <%= render 'items/form', item: Item.new, shop: @shop %>
    </div>
    <hr>
  <% end %>

  <!-- items listing -->
  <div class="items-index">
    <%= render 'items/listings', items: @shop.items, shop: @shop %>
  </div>

</div>