<div class="container">
  <h1><%= @shop.name %></h1> 
   <hr>
  <!--Shop Details -->
  <div class="details">
      Shop owner: <%= @owner.name || @owner.email %>
      <!-- Message shop owner button -->
      <% if !user_signed_in? %>
      <%= link_to "Sign up to Message #{@owner.name || @shop.name}", new_user_registration_path, class: 'btn btn-message' %>
      <% elsif !owner_of(@shop) %>
          <%= link_to "Message #{@owner.name || @shop.name}", conversations_path(sender_id: current_user.id, recipient_id: @shop.user_id), method: 'post', class:"btn btn-message" %>
      <% end %><!-- END Message Button -->

      <div class="description">
        <% if @shop.description.present? %>
          <%= @shop.description %>
        <% end %>
      </div>
  </div><!-- END shop details -->

    <!-- Shop Settings -->
  <div class="settings right">
    <% if admin? || owner_of(@shop) %>
        <div class="shop-settings">
          <%= link_to 'Edit Shop', edit_shop_path(@shop), class: "btn btn-primary" %>
          <%= link_to 'Delete Shop', shop_path(@shop), method: :delete, class: "btn btn-secondary", data: { confirm: "Are you sure?" } %>
        </div>
    <% end %>
  </div><!-- END Shop Settings -->

  <!-- Featured Image
  <div class="full-width">
    <% if @shop.featured_image.present? %>
          <%= image_tag @shop.featured_image, class: "img featured-img" %>
    <% end %>
    </div>-->

  <!-- Add new item to shop -->
  <% if admin? || owner_of(@shop) %>
    <hr>
    <h2>Add a new item to <%= @shop.name %></h2>
    <div class="max-width-md">
      <%= render 'items/form', item: Item.new, shop: @shop %>
    </div>
    <hr>
  <% end %>

  <!-- items listing -->
  <div class="items-index">
    <%= render 'items/listings', items: @shop.items, shop: @shop %>
  </div>

</div>