<%= form_with(model: [shop, item], local: true, multipart: true) do |form| %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h3 class="red"><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-field">
        <%= form.label "Item name: ", class: "label" %>
        <%= form.text_field :name, class: "input" %>
    </div>

    <div class="form_field">
        <%= form.label "Description:", class: "label" %>
        <%= form.rich_text_area :description, class: "input" %>
    </div>

    <div class="form_field">
        <%= form.label "Price: ", class: "label" %>
        <%= form.text_field :price, placeholder: "0.00", class: "input" %>
    </div>

    <div class="form_field">
        <%= form.label "Quantity: ", class: "label" %>
        <%= form.text_field :quantity, placeholder: "1", class: "input" %>
    </div>

    <div class="form-field">
        <%= form.label "Available for trade if this box is checked: ", class: "label" %>
        <%= form.check_box(:make_an_offer, {}, "true", "false") %>
    </div>

    <div class="form_field">
        <%= form.label "Thumbnail (300x300 px):", class: "label" %>
        <%= form.file_field :thumbnail %>
    </div>

     <div class="form_field">
        <%= form.label "Select Categories: ", class: "label" %>
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, class: "checkbox" %>
    </div>

  <div class="form-field">
    <%= form.submit class: "button" %>
  </div>

<% end %>