<h1><%= @item.name %></h1>

    <% if @item.thumbnail.present? %>
        <div class="image">
            <%= image_tag @item.thumbnail, class: "thumbnail" %>
        </div>
    <% end %><!--END thumbnail image -->

     <div class="categories">
        Tagged with: 
        <% if @categories %>
            <% @categories.each do |cat| %>
                <%= cat.name  %><br />
            <% end %>
        <% end %>
    </div><!-- END description -->

    <div class="description">
        <% if @item.description.present? %>
        <%= @item.description %>
        <% end %>
    </div><!-- END description -->

     <div class="price">
         <%= number_to_currency(@item.price) %>
     </div><!--END price -->

     <% if @item.make_an_offer? %>
       <%= link_to 'Make an offer', "mailto:#{@item.shop.user.email}", class: 'btn' %>
     <% end %><!-- END Make an offer Button -->


<!-- Item settings -->
 <!-- TODO: helper method for nested owner_of -->
 <% if admin? || (user_signed_in? && @shop.user_id == current_user.id) %>
    <div class="item-settings">
      <%= link_to 'Edit', edit_shop_item_path(@item.shop, @item), class: "btn" %>
      <%= link_to 'Delete', shop_item_path(@item.shop, @item), method: :delete, class: "btn", data: { confirm: "Are you sure?" } %>
    </div>
<% end %>


