<h1><%= @item.name %></h1>
    <div class="details">
        <span>offered by:</span> 
            <%= link_to @shop.name, shop_path(@shop) if @shop %>
            <br/>
        <span>listed under:</span> 
            <% if @categories.count == 1 %>
                <% @categories.each do |cat| %>
                    <%= link_to cat.name, category_path(cat)  %>
                <% end %>
            <% else %>
                <% @categories.each do |cat| %>
                    <% if cat == @categories.last %>
                        and <%= link_to cat.name, category_path(cat) %>.
                    <% else %>
                        <%= link_to cat.name, category_path(cat) %>,
                    <% end%>
                <% end %>
            <% end %>
    </div><!-- END details -->

    <% if @item.thumbnail.present? %>
        <div class="image">
            <%= image_tag @item.thumbnail, class: "thumbnail" %>
        </div>
    <% end %><!--END thumbnail image -->



    <div class="description">
        <% if @item.description.present? %>
        <%= @item.description %>
        <% end %>
    </div><!-- END description -->

     <div class="price">
         <%= number_to_currency(@item.price) %>
     </div><!--END price -->

     <% if @item.make_an_offer? %>
       <%= link_to 'Initiate a Trade', "mailto:#{@item.shop.user.email}?subject=#{@item.name}", class: 'btn' %>
     <% end %><!-- END Make an offer Button -->


<!-- Item settings -->
 <!-- TODO: helper method for nested owner_of -->
 <% if admin? || (user_signed_in? && @shop.user_id == current_user.id) %>
    <div class="item-settings">
      <%= link_to 'Edit Item', edit_shop_item_path(@item.shop, @item), class: "btn" %>
      <%= link_to 'Delete Item', shop_item_path(@item.shop, @item), method: :delete, class: "btn", data: { confirm: "Are you sure?" } %>
    </div>
<% end %>


