<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Branding area -->
    <%= link_to "Marketplace", root_path, class:"navbar-brand" %>
    <!-- End branding area -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible Nav Bar -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

        <!-- All users nav -->
            <li class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Shop by Category<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <% Category.with_items_alph.each do |c| %>
                        <li><%= link_to c.name.capitalize, category_path(c) %></li>
                    <% end %>
                </ul>
            </li><!-- END what all users see in nav -->

        <!-- Logged IN Users Nav -->    
            <% if user_signed_in? %>
                <% if current_user.has_one_shop? %>
                    <li class="nav-item">
                        <%= link_to "My Shop", shop_path(current_user.shops.last), class: "btn" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Add an Item", new_shop_item_path(current_user.shops.last), class: "btn" %>
                    </li>
                <% elsif current_user.has_many_shops? %>
                    <li class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Add Item<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <% current_user.shops.each do |s| %>
                                <li><%= link_to s.name, new_shop_item_path(s) %></li>
                            <% end %>
                        </ul>
                    </li> 
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Create a Shop", new_shop_path, class: "btn" %>
                    </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to "My Account", edit_user_registration_path, class: "btn" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Messages", conversations_path, class: "btn" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn logout" %>
                </li><!-- END Logged IN Users Nav -->
        
        <!--Logged OUT Users Nav -->
            <% else %>
                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class:"btn login" %>
                </li>
                <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class:"btn" %>
                </li>
                <% end %><!-- END Logged OUT Users Nav -->

        </ul>
    </div><!-- END Collapsible Nav bar -->
</nav>