<!DOCTYPE html>
<html>
  <head>
    <title>MakerMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- error messaging -->
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="bg-red">
          <div class="container"><%= message %></div>
        </div>
      <% end %>
      <% if type == "notice" %>
        <div class="bg-green">
          <div class="container"><%= message %></div>
        </div>
      <% end %>
    <% end %><!-- END error messaging -->

    <%= yield %>

  </body>
</html>
